img {
    object-fit: contain;
    width: 30em;
}

main {
    margin: 5em;
}

#currentWord {
    letter-spacing: 0.3em;
}

.message {
    display: none;
    padding: 20px;
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /*   height: 100%; */
    background: darkblue;
    z-index: 12402402;
}

.button {
    /* display: none; */
    margin: 10px 0;
    border: none;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    background: green;
    color: white;
    transition: .3s;
    text-shadow: 1px 2px 0 $green;
    font-family: "Londrina Solid", cursive;
}

h3 {
    letter-spacing: 3px;
}

#questionplz {
    float: left; 
    max-width: 38em;
}

#guess {
    float:right;
}
